
## <summary>policy for dogpu</summary>


########################################
## <summary>
##	Transition to dogpu.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`dogpu_domtrans',`
	gen_require(`
		type dogpu_t, dogpu_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, dogpu_exec_t, dogpu_t)
')


########################################
## <summary>
##	Execute dogpu server in the dogpu domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dogpu_initrc_domtrans',`
	gen_require(`
		type dogpu_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, dogpu_initrc_exec_t)
')


########################################
## <summary>
##	Search dogpu lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dogpu_search_lib',`
	gen_require(`
		type dogpu_var_lib_t;
	')

	allow $1 dogpu_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read dogpu lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dogpu_read_lib_files',`
	gen_require(`
		type dogpu_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, dogpu_var_lib_t, dogpu_var_lib_t)
')

########################################
## <summary>
##	Manage dogpu lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dogpu_manage_lib_files',`
	gen_require(`
		type dogpu_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, dogpu_var_lib_t, dogpu_var_lib_t)
')

########################################
## <summary>
##	Manage dogpu lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dogpu_manage_lib_dirs',`
	gen_require(`
		type dogpu_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, dogpu_var_lib_t, dogpu_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a dogpu environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`dogpu_admin',`
	gen_require(`
		type dogpu_t;
		type dogpu_initrc_exec_t;
		type dogpu_var_lib_t;
	')

	allow $1 dogpu_t:process { ptrace signal_perms };
	ps_process_pattern($1, dogpu_t)

	dogpu_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 dogpu_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, dogpu_var_lib_t)

')

